<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= full_title(yield(:page_title))%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Massanutten Property Owners Association. A resort community nestled in the heart of the Shenandoah Valley. We have all kinds of sports and recreation going on such as golf, skiing, snow tubing, fishing and many others, all located within the natural beauty of Massanutten Mountain."/>
  <meta name="keywords" content="Massanutten, Property Owners Association, Resort, Lodging, Rentals, Timeshares, Housing, Golfing, Skiing, Mountain, Shenandoah Valley, Vacation, Hiking, Outdoors, Snowtubing, Weekend-Getaway, Great Eastern, Snowboarding, Mountain Biking, Accommodations, Recreation, Virginia Mountains, Virginia Vacations, Harrisonburg, Lodging, Condos"/>
  <meta name="robots" content="index, nofollow"/>
  <meta name="robots" content="noarchive"/>
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
